In [1]:
# %pip install pandas
# %pip install matplotlib
# %pip install numpy
# %pip install csv

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [3]:
# Importing the dataset
dataset = pd.DataFrame(pd.read_csv('./2k5data.csv'))

In [4]:
dataset.shape

(2504, 15)

In [5]:
dataset = dataset.dropna()
dataset.shape

(1831, 15)

In [6]:
dataset.columns

Index(['id', 'name', 'total_ratings', 'stars', 'genres', 'imdb_link',
       'tmdb_link', 'description', 'release_year', 'label', 'duration',
       'languages', 'directors', 'cast', 'img_link'],
      dtype='object')

# Movie

In [7]:
movie = dataset[['id', 'name', 'description', 'release_year', 'duration',
       'directors', 'cast']]
movie.shape

(1831, 7)

In [8]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1831 entries, 0 to 2503
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1831 non-null   int64
 1   name          1831 non-null   object
 2   description   1831 non-null   object
 3   release_year  1831 non-null   float64
 4   duration      1831 non-null   object
 5   directors     1831 non-null   object
 6   cast          1831 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 114.4+ KB

In [9]:
def id(x):
    return '\t(' + str(x)

def name(x):
    return ' \'' + str(x).replace('\'','\\\'').replace('\n','\\n').replace('\r','\\r').replace('\t','\\t').replace('\"','') + '\''

def description(x):
    return ' \'' + str(x).replace('\'','\\\'').replace('\n','\\n').replace('\r','\\r').replace('\t','\\t').replace('\"','') + '\''

def release_year(x):
    return ' ' + str(int(x))

def duration(x):
    return ' ' + str(int(str(x).replace(' minutes','')))

def directors(x):
    return ' \'' + str(x).replace('[','').replace(']','').replace('\'','').replace('\"','') + '\''

def cast(x):
    return ' \'' + str(x).replace('[','').replace(']','').replace('\'','').replace('\"','') + '\'),'

In [10]:
movie['id'] = movie['id'].apply(id)
movie['name'] = movie['name'].apply(name)
movie['description'] = movie['description'].apply(description)
movie['release_year'] = movie['release_year'].apply(release_year)
movie['duration'] = movie['duration'].apply(duration)
movie['directors'] = movie['directors'].apply(directors)
movie['cast'] = movie['cast'].apply(cast)

C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['id'] = movie['id'].apply(id)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['name'] = movie['name'].apply(name)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['description'] = movie['description'].apply(description)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['release_year'] = movie['release_year'].apply(release_year)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['duration'] = movie['duration'].apply(duration)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['directors'] = movie['directors'].apply(directors)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3062416288.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['cast'] = movie['cast'].apply(cast)

In [11]:
movie.head()

,id,name,description,release_year,duration,directors,cast
0,\t(1,'Toy Story',"'Led by Woody, Andy\'s toys live happily in h...",1995,81,'John Lasseter',"'Tom Hanks, Tim Allen, Don Rickles, Jim Varne..."
1,\t(2,'Jumanji','When siblings Judy and Peter discover an enc...,1995,104,'Joe Johnston',"'Robin Williams, Kirsten Dunst, Bradley Pierc..."
2,\t(3,'Grumpier Old Men','A family wedding reignites the ancient feud ...,1995,101,'Howard Deutch',"'Walter Matthau, Jack Lemmon, Ann-Margret, So..."
3,\t(4,'Waiting to Exhale',"'Cheated on, mistreated and stepped on, the w...",1995,127,'Forest Whitaker',"'Whitney Houston, Angela Bassett, Loretta Dev..."
4,\t(5,'Father of the Bride Part II','Just when George Banks has recovered from hi...,1995,106,'Charles Shyer',"'Steve Martin, Diane Keaton, Martin Short, Ki..."

In [12]:
# movie.to_csv('movie.csv', index=False)

# Movie_label

In [13]:
movie_label = dataset[['id', 'label']]

In [14]:
def id(x):
    return '\t(' + str(x)

def label(x):
    return ' \'' + str(x) + '\'),'

In [15]:
movie_label['id'] = movie_label['id'].apply(id)
movie_label['label'] = movie_label['label'].apply(label)

C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3502754357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_label['id'] = movie_label['id'].apply(id)
C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3502754357.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_label['label'] = movie_label['label'].apply(label)

In [16]:
movie_label.head()

     id       label
0  \t(1       'G'),
1  \t(2      'PG'),
2  \t(3   'PG-13'),
3  \t(4       'R'),
4  \t(5      'PG'),

In [17]:
# movie_label.to_csv('movie_label.csv', index=False)

# Movie_genre

In [18]:
movie_genre = dataset[['id', 'genres']]

In [19]:
movie_genre['genres'].value_counts()

genres
['Drama']                                           114
['Drama', 'Romance']                                 85
['Comedy']                                           81
['Comedy', 'Drama']                                  67
['Comedy', 'Romance']                                65
                                                   ...
['Animation', 'Adventure', 'Family']                  1
['Comedy', 'Crime', 'Drama', 'Thriller']              1
['Action', 'Fantasy', 'Thriller']                     1
['Romance', 'Drama', 'Comedy', 'History']             1
['Comedy', 'Drama', 'Family', 'Science Fiction']      1
Name: count, Length: 616, dtype: int64

In [20]:
def id(x):
    return '\t(' + str(x) + ', '

In [21]:
def replace(x):
    return x.replace('[', '').replace(']', '').replace(', ', ',').replace(',,', ',')

In [22]:
def add_space(x):
    x = replace(x)
    if 'ScienceFiction' in x:
        return x.replace('ScienceFiction','Science Fiction')
    if 'TVMovie' in x:
        return x.replace('TVMovie','TV Movie')
    return x

In [23]:
def split_genre(x):
    x = add_space(x)
    return x.split(',')

In [24]:
movie_genre['id'] = movie_genre['id'].apply(id)

C:\Users\longt\AppData\Local\Temp\ipykernel_2716\3615473202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_genre['id'] = movie_genre['id'].apply(id)

In [25]:
movie_genre['genres'] = movie_genre['genres'].apply(split_genre)

C:\Users\longt\AppData\Local\Temp\ipykernel_2716\2604493277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_genre['genres'] = movie_genre['genres'].apply(split_genre)

In [26]:
movie_genre['genres'].iloc[776]

["'Comedy'", "'Adventure'"]

In [27]:
genres = []

In [28]:
# cnt = 0
# with open('../insert2nd/movie_genre.sql', 'w') as f:
#     for i in range(movie_genre.shape[0]):
#         f.write('INSERT INTO movie_genre (movie_id, genre_name)\nVALUES\n')
#         arr = movie_genre['genres'].iloc[i]
#         for j in range(len(arr)):
#             str = movie_genre['id'].iloc[i]
#             genre = arr[j]
#             if genre is None or genre == '':
#                 continue
#             str += (genre + ('),\n' if j < len(arr) - 1 else ');\n'))
#             if genre not in genres:
#                 genres.append(genre)
#             cnt += 1
#             # print(cnt)
#             f.write(str)
#     print(cnt)
#     f.close()

In [29]:
genres = sorted(genres)
for genre in genres:
    print(genre)
    
print(len(genres))

0

In [30]:
# movie_genre['1'] = movie_genre['genres'].apply(lambda x: f(x, 0))
# movie_genre['2'] = movie_genre['genres'].apply(lambda x: f(x, 1))
# movie_genre['3'] = movie_genre['genres'].apply(lambda x: f(x, 2))
# movie_genre['4'] = movie_genre['genres'].apply(lambda x: f(x, 3))
# movie_genre['5'] = movie_genre['genres'].apply(lambda x: f(x, 4))
# movie_genre['6'] = movie_genre['genres'].apply(lambda x: f(x, 5))
# movie_genre['7'] = movie_genre['genres'].apply(lambda x: f(x, 6))

In [31]:
# movie_genre.drop('genres', axis=1, inplace=True)

In [32]:
movie_genre

             id                                            genres
0        \t(1,     ['Animation', 'Adventure', 'Family', 'Comedy']
1        \t(2,                 ['Adventure', 'Fantasy', 'Family']
2        \t(3,                              ['Romance', 'Comedy']
3        \t(4,                     ['Comedy', 'Drama', 'Romance']
4        \t(5,                               ['Comedy', 'Family']
...         ...                                               ...
2497  \t(2498,   ['Comedy', 'Drama', 'Family', 'Science Fiction']
2499  \t(2500,                                ['Comedy', 'Crime']
2500  \t(2501,                                ['Drama', 'Family']
2501  \t(2502,                                         ['Comedy']
2503  \t(2504,                     ['Comedy', 'Drama', 'Romance']

[1831 rows x 2 columns]

# User_rating

In [33]:
user_rating = pd.read_csv('./ratings.csv')

In [34]:
user_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [35]:
user_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [36]:
user_rating = user_rating.loc[(user_rating['movieId'].isin(dataset['id'])) & (user_rating['rating'] >= 1)]

In [37]:
user_rating.shape

(10544941, 4)

In [38]:
user_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495

In [39]:
def userid(x):
    return '\t(' + str(x)

def movieid(x):
    return str(x)

def rating(x):
    return str(int(x))

def timestamp(x):
    return 'FROM_UNIXTIME(' + str(x) + ')),'

In [40]:
user_rating['userId'] = user_rating['userId'].apply(userid)
user_rating['movieId'] = user_rating['movieId'].apply(movieid)
user_rating['rating'] = user_rating['rating'].apply(rating)
user_rating['timestamp'] = user_rating['timestamp'].apply(timestamp)

In [41]:
user_rating.tail()

             userId movieId rating                    timestamp
25000002  \t(162541    2324      4  FROM_UNIXTIME(1240953595)),
25000003  \t(162541    2329      4  FROM_UNIXTIME(1240950831)),
25000004  \t(162541    2352      2  FROM_UNIXTIME(1240952298)),
25000005  \t(162541    2396      4  FROM_UNIXTIME(1240952712)),
25000006  \t(162541    2407      3  FROM_UNIXTIME(1240946787)),

In [42]:
index = pd.DataFrame(np.arange(0, user_rating.shape[0]), columns=['index'])

In [43]:
index.head()

   index
0      0
1      1
2      2
3      3
4      4

In [44]:
# user_rating.to_csv('user_rating.csv', index=False)

In [45]:
user_rating.set_index(index['index'], inplace=True)

In [46]:
user_rating.tail()

             userId movieId rating                    timestamp
index
10544936  \t(162541    2324      4  FROM_UNIXTIME(1240953595)),
10544937  \t(162541    2329      4  FROM_UNIXTIME(1240950831)),
10544938  \t(162541    2352      2  FROM_UNIXTIME(1240952298)),
10544939  \t(162541    2396      4  FROM_UNIXTIME(1240952712)),
10544940  \t(162541    2407      3  FROM_UNIXTIME(1240946787)),

In [47]:
# i = 0

# while i < 11:
#     try:
#         print(i)
#         idx = i * 100000
#         user_rating.iloc[idx:idx+100000].to_csv(f'./user_rating/user_rating_{i + 1}.csv', index=False, quotechar=' ')
#         i += 1
#     except:
#         break

0
1
2
3
4
5
6
7
8
9
10

# A